<footer class="bg-inverse text-muted">
  <div class="container">
    <div class="row">
      <address class="col-4">
        1.CYPRUS (tech)<br>
    William Hastings<br>
    Duncan Findlay<br>
    +1 more in the near future<br>
      </address>
      <address class="col-4">
        1.CYPRUS (tech)<br>
    William Hastings<br>
    Duncan Findlay<br>
    +1 more in the near future<br>
      </address>
      <address class="col-4">
        1.CYPRUS (tech)<br>
    William Hastings<br>
    Duncan Findlay<br>
    +1 more in the near future<br>
      </address>
    </div>

    <div class="row">
      <address class="col-4">
        1.CYPRUS (tech)<br>
    William Hastings<br>
    Duncan Findlay<br>
    +1 more in the near future<br>
      </address>
      <address class="col-4">
        1.CYPRUS (tech)<br>
    William Hastings<br>
    Duncan Findlay<br>
    +1 more in the near future<br>
      </address>
      <address class="col-4">
        1.CYPRUS (tech)<br>
    William Hastings<br>
    Duncan Findlay<br>
    +1 more in the near future<br>
      </address>
    </div>
  </div>
</footer>
