<footer class="bg-inverse text-muted">
  <div class="container">
    <div class="row">
      <address class="col-6">
        <h4>Ship Management</h4>
        1.CYPRUS (tech)<br>
        William Hastings<br>
        Duncan Findlay<br>
        +1 more in the near future<br><br>

        2. UK (commercial)<br>
        Major Anthony Holman<br>
        Mr Brian Scott<br>
        +1 more<br>
      </address>
      <address class="col-6">
        <h4>Ship Broking</h4>
        1.CYPRUS (tech)<br>
        William Hastings<br>
        Duncan Findlay<br>
        +1 more in the near future<br><br>

        2. UK (commercial)<br>
        Major Anthony Holman<br>
        Mr Brian Scott<br>
        +1 more<br>
      </address>
    </div>
  </div>
</footer>
