<!-- <nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" ui-sref="home">GA LMS</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" ui-sref="about">About</a>
    </li>
  </ul>
  <ul ng-hide="navigation.loggedIn" class="nav navbar-nav pull-xs-right">
    <li class="nav-item">
      <a class="nav-link" ui-sref="signup">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ui-sref="login">Login</a>
    </li>
  </ul>
  <ul ng-show="navigation.loggedIn" class="nav navbar-nav pull-xs-right">
    <li class="nav-item">
      <a class="nav-link" ng-click="navigation.logout()">Logout</a>
    </li>
  </ul>
</nav> -->
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Leeships</a>

  <div class="collapse navbar-collapse" id="navbarsExampleContainer">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/services">Services <span class="sr-only">Services</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/examples">Examples <span class="sr-only">Examples</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About <span class="sr-only">About</span></a>
      </li>
    </ul>
  </div>
</nav>
